@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&family=M+PLUS+1+Code:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white:rgb(243, 240, 240);
    --black: black;
    --red: red;
    --blue:rgb(2,0,36);
}

body{
    background: var(--white);
    background-image: url(myxeria.png);
    height: 100%;
    width: 100%;
    backdrop-filter: sepia(15%);
    background-size: 100%;
    padding: 0px 0px;
    size: 500px;
    background-repeat:no-repeat;
}

header{
    padding: 50px 50px;
}

.hipertitle{
    padding-bottom: 50px;
}

.title{
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 100px;
    color: var(--red);
}

.title.boss{
    color: var(--black);
    font-size: 50px;
    padding: 60px 50px;
    padding-bottom: 20px;
    justify-content: left;
}

.subtitle{
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
    font-weight: 500;
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}

.top{
    padding: 50px 0;
    display:flex;
    font-family: "M PLUS 1 Code", monospace;
    color: var(--white);
}

.topicos{
    padding: 25px 50px;
    border: 1px solid var(--white);
}

.osborn{
    color: var(--black);
}

.main{
    padding-bottom: 300px ;
    color: var(--white);
}

.head-text{
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
    font-weight: 300;
    font-size:20px;
    color: var(--white);
    padding: 5px 50px;
}

.text{
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 50px;
    justify-content: center;
}

.line{
    padding-bottom: 10px;
}