@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap&family=M+PLUS+1+Code:wght@100&display=swap&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white:rgb(238, 234, 234);
    --black: black;
    --red: red;
    --blue:rgb(2,0,36);
    --neoblue: rgba(50, 42, 211, 0.329);
}

body{
    color: black;
}

header{
    padding: 50px 50px;
    background: var(--blue);
    background-image: url(myxeria.png);
    height: 100%;
    width: 100%;
    backdrop-filter: sepia(15%);
    background-size: 100%;
    padding: 0px 0px;
    size: 500px;
    background-repeat:no-repeat;
}

.hipertitle{
    padding: 50px 50px;
    padding-bottom: 50px;
}

.title{
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 100px;
    color: var(--red);
}

.title.boss{
    color: var(--black);
    font-size: 50px;
    padding: 60px 50px;
    padding-bottom: 20px;
    justify-content: left;
}

.subtitle{
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
    font-weight: 500;
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}

.top{
    padding: 50px 50px;
    display:flex;
    font-family: "M PLUS 1 Code", monospace;
    color: var(--white);
}

.topicos{
    padding: 25px 50px;
    
}

.osborn{
    color: var(--black);
}

.main{
    padding-bottom: 300px ;
    color: var(--white);
}

.head-text{
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
    font-weight: 300;
    font-size:20px;
    color: var(--white);
    padding: 5px 50px;
}

.text{
    font-family: "M PLUS 1 Code", monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 50px;
    justify-content: center;
}

.line{
    padding-bottom: 10px;
}

.accordion{
    min-width: 100px;
    max-width: 180px;
}

.accordion-button {
    background-color: transparent;
    color: var(--white);
    padding: 30px 50px;
    text-align: left;
    outline: none;
    font-size: 16px;
    width: 100%;
    border: 1px solid var(--white);
    transition: background-color 0.3s;
}

.accordion-button:hover {
    background-color: var(--neoblue);
}

.accordion-content {
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 200;
    color: var(--white);
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--neoblue);
    transition: max-height 0.3s ease-out;
}

.accordion-content p {
    margin: 10px 0;
}

/*emphaty crystal palace